{% extends "base.html" %}

{% block content %}
    <h1>Chat</h1>
    <p>Welcome to the home page!</p>
    <a href="{{ url_for('index') }}">Home</a>


    <h2>Chat</h2>
    <div id="chat">
    </div>

    <form hx-post="{{ url_for('query') }}" hx-target="#chat" hx-swap="innerHTML" hx-on::after-request="this.reset()">
        <input type="text" id="query" name="query" placeholder="Type a message">
        <input type="hidden" name="chat_hash" value="{{ chat_hash }}">
    </form>
    {# <button hx-delete="{{ url_for('chat') }}" hx-target="#chat" hx-swap="innerHTML">Clear</button> #}


{% endblock %}
