<a class="m-2 hover:cursor-pointer hover:text-c3" hx-get="{{ url_for('argue.arguments_create') }}" hx-target="#main" hx-swap="innerHTML" hx-push-url="true"> New Argument </a>
<a class="m-2 hover:cursor-pointer hover:text-c3" hx-get="{{ url_for('argue.premises_create') }}" hx-target="#main" hx-swap="innerHTML" hx-push-url="true"> New Premise </a>
<a class="m-2 hover:cursor-pointer hover:text-c3" hx-get="{{ url_for('argue.conclusions_create') }}" hx-target="#main" hx-swap="innerHTML" hx-push-url="true"> New Conclusion </a>
<!-- <a class="m-2 hover:cursor-pointer hover:text-c3" hx-get="{{ url_for('argue.connect') }}" hx-target="#main" hx-swap="innerHTML" hx-push-url="true"> Connect </a> -->
